
.app-container {
  text-align: center;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #333;
  padding: 10px;
  cursor: pointer;
  transition: color 0.5s ease;
}

.navbar ul li a:hover {
  color: rgb(0, 139, 7);
  
}

.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar ul li {
  margin: 0 25px;
  font-size: 22px;
  align-self: center;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

/* Cart Icon Styling */
.navbar a {
  position: relative; /* Ensures badge is positioned relative to the link */
  display: inline-block;
}

.navbar a svg {
  font-size: 34px;
}

/* Cart Count Badge */
.cart-badge {
  background: red;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -1px; /* Moves badge to the top */
  right: -5px; /* Moves badge to the right */
  transform: translate(50%, -50%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


